* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cornsilk;
}

.galerie {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 210px));
    grid-auto-rows: minmax(210px, 210px);
    column-gap: 20px;
    row-gap: 20px;
    justify-items: start;
    align-items: center;
}

.imagine {
    background-color: blue;
}

.imagine::after {
    background-image: url('placeholder.png');
    content:"";
    background-size: contain;
    background-repeat: no-repeat;
    display:block;
    width:200px;
    height:200px;
}
