* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cornsilk;
}

@media screen and (max-width: 1600px) {
    .galerie {
        display: grid;
        /* grid-template-columns: repeat(auto-fill, minmax(150px, 210px)); */
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        /* grid-auto-rows: minmax(210px, 210px);
        column-gap: 20px;
        row-gap: 20px; */
        justify-items: start;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .galerie {
        display: grid;
        /* grid-template-columns: repeat(auto-fill, minmax(150px, 210px)); */
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        /* grid-auto-rows: minmax(210px, 210px);
        column-gap: 20px;
        row-gap: 20px; */
        justify-items: start;
        align-items: center;
    }
}

@media screen and (max-width: 414px) {
    .galerie {
        display: grid;
        /* grid-template-columns: repeat(auto-fill, minmax(150px, 210px)); */
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        /* grid-auto-rows: minmax(210px, 210px);
        column-gap: 20px;
        row-gap: 20px; */
        justify-items: start;
        align-items: center;
    }
}

.imagine {
    background-color: blue;
    text-align: center;
    /* vertical-align: text-bottom; */
    padding-top: 174px;
    color: floralwhite;

    background-image: url('placeholder.png');
    content:"";
    background-size: contain;
    background-repeat: no-repeat;
    display:block;
    width:200px;
    height:200px;
    border-radius: 8%;
}

/* .imagine::after {
    background-image: url('placeholder.png');
    content:"";
    background-size: contain;
    background-repeat: no-repeat;
    display:block;
    width:200px;
    height:200px;
    
} */

span {
    background-color: whitesmoke;
    color: black;
    padding: 5px 63px;
}